<ion-header>
  <ion-toolbar>
    <ion-title>Start</ion-title>
      <!-- Log In -->
      <ion-button
        (click)="logInModal()"
        slot="end"
      >Log In</ion-button>
      <!-- Sign Up -->
      <ion-button
        (click)="signUpModal()"
        slot="end"
      >Sign Up</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-title>What is "taskManger"</ion-title>
  </ion-item>
  <ion-item>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et urna id lacus feugiat congue eu id diam.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Sed velit magna, ornare cursus felis eget, blandit euismod mauris.
      Morbi orci quam, suscipit id justo sit amet, tristique suscipit eros.
      Fusce vestibulum, velit ut facilisis condimentum, tellus ex pellentesque risus, non sagittis turpis lacus eget diam.
      Donec venenatis semper odio, sit amet laoreet leo efficitur eget. Ut vitae tellus blandit diam pulvinar mattis.
      Vivamus sit amet congue tellus. Donec laoreet, ex sed cursus interdum, dolor erat auctor elit, id suscipit leo dui vel ipsum.
    </p>
  </ion-item>
</ion-content>

