<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="username" name="username" placeholder="Usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Contraseña"></ion-input>
  </ion-item>
  <ion-button type="button" (click)="login()">Ingresar</ion-button>
  <ion-button
    (click)="signUpModal()"
  >Sign Up</ion-button>
</ion-content>
